*
!.gitignore
!aes_cipher_top
!aes_cipher_top/*
!Switch_basic
!Switch_basic/*
!Switch_xor
!Switch_xor/*
!ALU
!ALU/*
!Controller
!Controller/*
!Memory
!Memory/*
!DataPath
!DataPath/*
!Regfile
!Regfile/*
!lc3
!lc3/*

